<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    th:replace="inheritence/base::layout(~{:: .services-section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="services-section" style="margin: 100px 0">
        <h2>This is services page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsa laboriosam magnam nemo obcaecati porro qui sequi tempora, vero! Asperiores atque dicta rerum unde vitae. Doloribus, praesentium, quo. Aperiam aspernatur aut blanditiis consequatur culpa cupiditate debitis dignissimos dolorem doloribus eaque eveniet expedita explicabo id iste laboriosam neque obcaecati officiis, perspiciatis ratione sequi soluta tenetur vel? Corporis natus quaerat rerum! Aut, consectetur deserunt doloribus dolorum, enim eos esse eum explicabo facere id illo illum impedit iure magni molestias nemo nesciunt nobis, nulla optio pariatur perferendis repellendus saepe suscipit veritatis vero! Commodi corporis cum eaque explicabo magni obcaecati omnis quos vel, voluptatum.</p>
    </section>
</body>
</html>