<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
    <section id="fragmentTag1" th:fragment="replaceFragment">
        <div>
            <h3>Name: Mehedi Hasan</h3>
            <h4>Age: 20</h4>
            <h4>Address: Shathibari, Mithapukur, Rangpur</h4>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur delectus deserunt dolore ea enim et, id illum laudantium, nam perspiciatis ratione temporibus? Beatae cum cupiditate ducimus enim mollitia nulla numquam omnis quo, reiciendis rem suscipit voluptates. Consequuntur debitis, deleniti dignissimos fuga molestias, perferendis porro qui quisquam sunt tempore velit?</p>
        </div>
    </section>

    <section id="fragmentTag2" th:fragment="insertFragment">
        <div>
            <h3>Name: Fariya Richie</h3>
            <h4>Age: 18</h4>
            <h4>Address: Shathibari, Mithapukur, Rangpur</h4>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur delectus deserunt dolore ea enim et, id illum laudantium, nam perspiciatis ratione temporibus? Beatae cum cupiditate ducimus enim mollitia nulla numquam omnis quo, reiciendis rem suscipit voluptates. Consequuntur debitis, deleniti dignissimos fuga molestias, perferendis porro qui quisquam sunt tempore velit?</p>
        </div>
    </section>

    <section id="fragmentTag3" th:fragment="includeFragment">
        <div>
            <h3>Name: Arafat Hossain</h3>
            <h4>Age: 15</h4>
            <h4>Address: Shathibari, Mithapukur, Rangpur</h4>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur delectus deserunt dolore ea enim et, id illum laudantium, nam perspiciatis ratione temporibus? Beatae cum cupiditate ducimus enim mollitia nulla numquam omnis quo, reiciendis rem suscipit voluptates. Consequuntur debitis, deleniti dignissimos fuga molestias, perferendis porro qui quisquam sunt tempore velit?</p>
        </div>
    </section>
    </body>
</html>